<footer class="Footer-inner">
  <h5 class="Footer__bi--link">
    <a href="https://www.ddocdoc.com">
      <i class="icon icon-ddocdoc-bi-gray"></i>
    </a>
  </h5>
  <ul class="Footer__link">
    <li>
      <a href="https://www.ddocdoc.com/termsofservice">이용약관</a>
    </li>
    <li>
      <a href="https://www.ddocdoc.com/privacypolicy">개인정보취급방침</a>
    </li>
    <li>
      <a href="https://www.ddocdoc.com/contact?from=ddocdoc">제휴문의</a>
    </li>
  </ul>
  <small class="Footer__copyright">
      Copyright © B-bros Corp. All rights reserved.
  </small>
</footer>